<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="BillableServicesEntities" connectionString="metadata=res://*/Models.BillableModel.csdl|res://*/Models.BillableModel.ssdl|res://*/Models.BillableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ONM512295;initial catalog=BillableServices;user id=admin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>